# Daimler npm-registry setup based on https://git.daimler.com/switch/support/blob/master/guides/npm-registry.md
# 1. Login to artifactory https://artifacts.daimler.com/artifactory/webapp/
# 2. Go to profile, create and copy API key
# 3. Run 'npm run artifactory:login'
#     - Username is CD/AD user
#     - Password is the API key from above

# We do not use Switch!

# @daimler packages are provided through Daimler Artifactory
@daimler:registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/switch-main-npm-releases/
@mercedes-benz:registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/switch-main-npm-releases/
@plusng:registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/plusng-main-npm-local/

npm config set strict-ssl false
# set legacy-peer-deps to ignore peer dependency error
npm config set legacy-peer-deps true
